</main>



<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="red-text lighten-1">Udemy</h5>
                <p class="grey-text text-lighten-4">Udemy is an online skill learning portal. Udemy is the best
                    place to enhance your skills.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Explore</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="/courses">Courses</a></li>
                    <li><a class="grey-text text-lighten-3" href="/myCourses">My Courses</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>

</body>

<script>
$(document).ready(function () {
    $('.sidenav').sidenav();
});
</script>

</html>