<%- include('./partials/header'); -%>
        <div class="container">
            <h2>Your Courses</h2>
            <div class="row">
                <div class="col s12 m4 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="./nodejs.png">
                        </div>
                        <div class="card-content">
                            <h5><strong>The complete Backend developer using nodejs</strong> </h5>
                            <p><strong>Instructor: Shubham Pathak</strong></p>
                            <div class="row">
                                <div class="col">
                                    <p><strong>100 enrolled students</strong></p>
                                </div>
                                <div class="col">
                                    <p><strong>56 likes</strong></p>
                                </div>
                            </div>
                            <h5>₹200</h5>
                        </div>
                        <div class="card-action grey darken-3">
                            <a href=""><i class="material-icons left">favorite</i>Like</a>
                            <a href="#">Start Learning</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="./nodejs.png">
                        </div>
                        <div class="card-content">
                            <h5><strong>The complete Backend developer using nodejs</strong> </h5>
                            <p><strong>Instructor: Shubham Pathak</strong></p>
                            <div class="row">
                                <div class="col">
                                    <p><strong>100 enrolled students</strong></p>
                                </div>
                                <div class="col">
                                    <p><strong>56 likes</strong></p>
                                </div>
                            </div>
                            <h5>₹200</h5>
                        </div>
                        <div class="card-action grey darken-3">
                            <a href="#">Start Learning</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="./nodejs.png">
                        </div>
                        <div class="card-content">
                            <h5><strong>The complete Backend developer using nodejs</strong> </h5>
                            <p><strong>Instructor: Shubham Pathak</strong></p>
                            <div class="row">
                                <div class="col">
                                    <p><strong>100 enrolled students</strong></p>
                                </div>
                                <div class="col">
                                    <p><strong>56 likes</strong></p>
                                </div>
                            </div>
                            <h5>₹200</h5>
                        </div>
                        <div class="card-action grey darken-3">
                            <a href="#">Start Learning</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="./nodejs.png">
                        </div>
                        <div class="card-content">
                            <h5><strong>The complete Backend developer using nodejs</strong> </h5>
                            <p><strong>Instructor: Shubham Pathak</strong></p>
                            <div class="row">
                                <div class="col">
                                    <p><strong>100 enrolled students</strong></p>
                                </div>
                                <div class="col">
                                    <p><strong>56 likes</strong></p>
                                </div>
                            </div>
                            <h5>₹200</h5>
                        </div>
                        <div class="card-action grey darken-3">
                            <a href="#">Start Learning</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <%- include('./partials/footer'); -%>